[submodule ".bash_it"]
	path = .bash_it
	url = https://github.com/Bash-it/bash-it
  ignore = dirty
[submodule "tmux"]
	path = tmux
	url = https://github.com/tmux/tmux.git
  ignore = dirty
[submodule "vim"]
	path = vim
	url = https://github.com/vim/vim.git
  ignore = dirty
