# Global settings for git

[include]
	# Local configuration
	path = .gitconfig.local

[color]
	ui = auto

[alias]
  alias = config --get-regexp \"alias.*\"
	ci = commit
	st = status
  br = branch
  co = checkout
  ls = ls-files
	undo = reset --hard
  lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
  hi = log --date=short --pretty=format:'%cd %C(yellow)%h %C(white) %s %C(green)@%cn'
  gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'

[core]
	autocrlf = input
  filemode = false
  editor = vim

[url "https://"]
	insteadOf = git://

[http]
  sslverify = false
[user]
	email = hirabara.masaya@isid.co.jp
	name = li3415
